body{overflow-x: hidden;}



.backgroundsticky > h1 {
    font-family: 'Playfair Display';
    font-weight: bold;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 102;
}
.backgroundsticky > p {
    font-family: 'Playfair Display';
    font-weight: bold;
    color: rgb(85, 85, 85);
    position: fixed;
    left: 80px;
    top: 50px;
    z-index: 102;
}
.backgroundsticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding-top: 40px;
    background-color: white;
    border-bottom: solid 1px rgba(128, 128, 128, 0.411);
    z-index: 1;
}



#main-section {
    position: absolute;
    top: 0; left: 180px; 

    width: 900px;
    height: 1900px;

    /*background-color: rgb(243, 243, 243);*/
}

.article-title {
    margin-top: 170px;
    /* position: relative; */
    top: 200px;
    left: 0px;
    color: rgb(48, 48, 48);
    font: normal normal bold 65px Playfair Display;
}
.img-article-wrapper {
    position: absolute;
    top: 200px; left: -2px;

    width: 78%;
    height: 460px;


    background-repeat: no-repeat;
    background-size: cover; background-position: center;

    border-radius: 35px;
    border: solid 2px rgb(211, 211, 211);
    box-shadow: 0px 2px 20px rgba(51, 51, 51, 0.171);
}
:root {
    --green: #708D81;
    --purple: #B7B5E4;
    --dark: #544E61;
    --sea: #708b8d;
}

.article-details {
    /* position: relative; */
    margin-top: -30px;
    left: 0px;
    width: 78%;
    height: 48px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas:
        'author s date';
    font-family: quasimoda;
    font-weight: 500;
    color: white;
}
.article-details > span:nth-child(1) {
    margin: auto auto auto 20px;
    grid-area: author;
    font-size: 15px;
}
.article-details > span:nth-child(2) {
    margin: auto 20px auto auto;
    grid-area: date;
    font-size: 15px;
}

.articletags {
    margin-top: 10px;
    width: 78%;
    height: 38px;

    display: grid; place-items: center; grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 80px));
}
.articletags span{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: grid; place-items: center;
    border-radius: 5px;
    font-family: quasimoda;
    transition: ease 0.2s;
}
.articletags span:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

.main-wrapper-article {
    margin-top: 60px;
    width: 715px;
}
.main-wrapper-article li  {
    font-family: Quasimoda;
    font-size: 18px;
    margin: 10px 0 10px 0;
}
.main-wrapper-article h1 {
    font-family: Playfair Display;
    font-size: 28px;
    color: #3C3C3C;
}
.main-wrapper-article p  {
    font-family: Quasimoda;
    font-size: 18px;
    color: #3C3C3C !important;
    line-height: 23px;
}
.main-wrapper-article hr {
    margin-block-start: 40px;
    margin-block-end: 40px;
}











#logoWrap {
    position: fixed;
    top: 30px;
    right: 130px;
    transition: ease 0.3s;
    z-index: 100;
}
#logoFinal {
    transition: ease 0.3s;
}
#logoFinal:hover {
    cursor: pointer;
    transform: translateY(-3px);
    filter: drop-shadow(0px 0px 15px rgba(131, 131, 131, 0.486))
}
#logoFinal:active {
    transform: translateY(0px);
    filter: drop-shadow(0px 0px 15px rgba(131, 131, 131, 0))
}


/*SIDE BAR NAVIGATION*/
#sideBarNav {
    position: fixed; right: -240px; top: 0; bottom: 0;

    width: 240px;
    
    background-color: rgb(235, 235, 235);

    transition: ease 0.4s;
    z-index: 100;
}

#navItems {
    position: absolute;
    top: 250px; right: 10px; bottom: 350px; left: 10px;
    

    display: grid;
    text-align: left;
}
#navItems p {
    position: relative;
    font-family: quasimoda, sans-serif;
    margin: auto auto auto 50px;
    transition: all 0.2s ease-in-out;
    color: rgb(77, 77, 77);
}
#navItems p:hover {
    cursor: pointer;
    color: black;
    margin: auto auto auto 45px;
}
#navItems p:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(82, 82, 82);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
#navItems p:hover:before {
    visibility: visible;
    width: 100%;
}

#hinterClose {
    position: absolute;
    bottom: 30px; right: 80px; left: 55px;

    height: 30px; width: 30px;
    transform: rotate(45deg);
}
#hinterClose:hover {
    cursor: pointer;
}
#cross1exit {
    margin-left: 14px;
    width: 5%;
    height: 100%;
    background-color: rgb(48, 48, 48);
}
#cross2exit {
    position: relative; margin-top: -16px;
    width: 100%;
    height: 5%;
    background-color: rgb(48, 48, 48);
}