body{overflow-x: hidden;}

/*TOP NAVIGATION*/
#topBarNav {
    position: fixed;
    top: 0px; left: 0; right: 0;

    padding-top: 10px;

    height: 120px;
    z-index: 100;
    background-color: white;
}
#navItems{
    height: 100%;

    display: grid; place-items: center;
    grid-template-columns:  350px  120px repeat(6, 1fr) 40px;
    grid-template-areas: 'title logo spacer por rec blo abo con spacer2';

    font-family: quasimoda, sans-serif;
}
#navItems p {
    position: relative;
    font-family: quasimoda, sans-serif;
    transition: all 0.2s ease-in-out;
    color: rgb(77, 77, 77);
}
#navItems p:hover {
    cursor: pointer;
    color: black;
}
#navItems p:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(82, 82, 82);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
#navItems p:hover:before {
    visibility: visible;
    width: 100%;
}

#lineBarNav {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.1;
}

/*SVG LOGO*/
#logoWrap {
    
    height: 90px;
    width: 90px;

    display: grid; place-items: center;
}
#logoFinal {
    height: 80px;
    transition: ease 0.3s;
}
#logoFinal:hover {
    cursor: pointer;
    transform: translateY(-3px);
    filter: drop-shadow(0px 0px 15px rgba(131, 131, 131, 0.486))
}
#logoFinal:active {
    transform: translateY(0px);
    filter: drop-shadow(0px 0px 15px rgba(131, 131, 131, 0))
}

/*MAIN WRAPPER*/
#pageWrapper {
    position: absolute;
    left: 50px; right: 50px;
    top: 180px;

    height: 2000px;

    max-width: 1950px;

    display: grid;
    grid-template-columns: repeat(6, 1fr); grid-row-gap: 10px;
    grid-template-rows: repeat(8, 1fr); grid-column-gap: 10px;

    grid-template-areas: 
    'w' 
    'bruh';
}

/* SQUARES STYLES */

#pageWrapper > div {
    display: grid;
    grid-template-rows: 50px 2fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas:
        'topBar'
        'spacer'
        'bottomBar';
    background-color: #F5F5F5;
    position: relative;
    top: 0px;
    left: 0;
    transition: ease 0.11s;
    /* border-radius: 8px; */
}
#pageWrapper > div:hover {
    cursor: pointer;
}
#pageWrapper > div:active {
    top: 0;
    left: 0;
    box-shadow: none;
}

#pageWrapper > div:nth-child(1) {
    background: url(/FoodImgs/delish-chicken-tikka-masala-jpg-1526059261.jpg) no-repeat bottom;
    background-size: cover;
}

.barDetails {
    display: grid;
    grid-area: topBar;
    grid-template-areas:
        'bruh';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: #a9a9a945;
    /* border-radius: 7px 7px 0 0; */
    font-family: quasimoda;
    color: #000000;
}

.barDetails span:nth-child(1) {
    font: normal normal bold 17px/20px quasimoda;
    grid-area: bruh;
    letter-spacing: 0.02rem;
    margin: auto auto auto 20px;
}
.barDetails span:nth-child(2) {
    grid-area: bruh;
    margin: auto 20px auto auto;
}

.postTitle {
    display: grid;
    grid-area: bottomBar;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: #F0F0F0;
    color: #2d2d2d;
    border-radius: 0 7px 0 0px;
    padding: 10px 15px 10px 15px;
    width: 30%;
    min-width: 150px;
    max-width: 310px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}
.previewText {
    margin: 15px 40px 10px 40px;
}
.previewText h1 {
    font-family:  'Playfair Display', sans-serif;
    color: #5C5C5C;
}
.previewText p {
    font: normal normal 17px/20px quasimoda;
    color: #070707;
}


.subscribe-divider {
    grid-row: span 2;
    grid-column: span 6;
    margin: 50px 0px 250px 0px;

    background-color: #F7F8F9 !important;
    border: 1px solid #E8E9EA;
    border-radius: 0.45em !important;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'ha lol';
}
.subscribe-divider > h1 {
    grid-area: ha;
    font-family: Quasimoda;
    font-weight: bolder;
    font-size: 40px;

    margin: 50px auto auto 60px;
    color: rgb(41, 41, 41);
}
.subscribe-divider > p {
    grid-area: ha;
    font-family: Quasimoda;
    font-weight: lighter;
    font-size: 20px;

    margin: auto auto 50px 60px;
    color: rgb(65, 65, 65);
}
.undercons {
    grid-area: lol;

    margin: auto 90px auto auto;

    height: 60px;
    width: 250px;

    background-color: #f3f3f3;
    border: 1px solid #E8E9EA;
    border-radius: 0.25em;

    display: grid;
    place-items: center;
}
.undercons > h1 {
    font-family: Quasimoda;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    color: rgb(189, 189, 189);
}


#First {
    grid-row: span 3;
    grid-column: span 4;
}
#Second {
    grid-row: span 3;
    grid-column: span 2;
    background-color: rgba(255, 235, 205, 0) !important;
    border: 0.15rem rgb(207, 207, 207) solid;
    border-radius: 0 !important;
}
#Second > div:nth-child(1) {
    border-radius: 0 !important;
}
#Third {
    grid-row: span 3;
    grid-column: span 2;
}
#Fourth {
    grid-row: span 2;
    grid-column: span 2;
}
#Fifth {
    grid-row: span 2;
    grid-column: span 2;
}