body{overflow-x: hidden;}

.sideSlider {
    position: absolute;

    width: 2px; height: 2690px;
    background-color: rgb(177, 177, 177);

    grid-area: side;
}


/*MAIN TEXT*/
#landingPageTextWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 290px;
    /* bottom: 150px; */
    width: 1200px;
    height: 3000px;
    display: grid;
    grid-template-columns:  30px 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 95px;
    grid-column-gap: 15px;

    grid-template-areas: 
    'side main'
    'side main1'
    'side main2'
    'side main3'
    'side main4'
    'side main5'
    'side main6'
    'side main7'
    'side main8'
    'side main9';
}
.first-layer-image-cont {
    display: grid;
    place-items: center;

    font-family: 'Playfair Display';

    background-color: rgb(243, 243, 243);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-row: span 1;
    grid-column: span 1;

    margin: 0 90px 0 90px;

    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.first-layer-image-cont:nth-child(2) {
    grid-area: main;
}
.first-layer-image-cont:nth-child(3) {
    grid-area: main1;
}
.first-layer-image-cont:nth-child(4) {
    grid-area: main2;
}
.first-layer-image-cont:nth-child(5) {
    grid-area: main3;
}
.first-layer-image-cont:nth-child(6) {
    grid-area: main4;
}
.first-layer-image-cont:nth-child(7) {
    grid-area: main5;
}
.first-layer-image-cont:nth-child(8) {
    grid-area: main6;
}
.first-layer-image-cont:nth-child(9) {
    grid-area: main7;
}
.first-layer-image-cont:nth-child(10) {
    grid-area: main8;
}

.sideSlider li {
    color: rgb(211, 211, 211);
}

.sideSlider li:nth-child(1) {
    margin-left: -12.5px;
    margin-top: 54px;
    font-size: 90px;
}
.sideSlider li:nth-child(2) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(3) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(4) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(5) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(6) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(7) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(8) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}
.sideSlider li:nth-child(9) {
    margin-left: -12.5px;
    margin-top: 204px;
    font-size: 90px;
}





